.timer{
    position: relative;
    float: right;
    margin-right: 20px;    
}
.container{
    margin: 50px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid black;
}
button{
    color: white;
    box-sizing: border-box;
    background-color: purple;
    margin: 15px;
    border: 2px solid black;
    font-size: large;
}
.start-btn{
    color: white;
    box-sizing: border-box;
    background-color: purple;
    margin: 15px;
    border: 2px solid black;
    font-size: large;
}
.hide{
    display: none;
}
p{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}